@{ ViewData["Title"] = "Home Page"; }

<style>

    .text-center h1 {
        font-size: 80px;
        position: relative;
        text-align: center;
        top: 50px;
        font-family: 'Indie Flower', cursive;
    }

</style>
    



<div >
    <div class="text-center">
        <h1 class="display-4">Task Listing</h1>
       
    </div>
</div>